{
	box-sizing: border-box;
}

body {
	margin: 0;
}

#iau9 {
	font-family: Impact, Charcoal, sans-serif;
	background-image: unset;
	background-position: unset;
	background-size: unset;
	background-repeat: unset;
	background-attachment: unset;
	background-origin: unset;
	color: #475569;
	background-color: black;
}

.gjs-heading {
	margin: 0;
}

#it7b {
	position: absolute;
	left: 500px;
	top: 77px;
	width: 410px;
	min-width: 13px;
	height: 98px;
	font-size: 71px;
	color: white;
}

#ihqf {
	padding: 10px;
	position: absolute;
	left: 492px;
	top: 159px;
	color: white;
	font-family: Courier New, Courier, monospace;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 506px;
}
